* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffd662;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
}

.stars {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #ffffff;
  opacity: 0;
  animation: twinkle 10s infinite;
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
    /* start at a dim opacity */
    transform: translateY(0);
  }

  10% {
    opacity: 1;
    /* become brighter */
    transform: translateY(0);
  }

  20% {
    opacity: 0.2;
    /* become dimmer again */
    transform: translateY(0);
  }

  100% {
    opacity: 0.2;
    /* maintain dim opacity */
    transform: translateY(0);
  }
}

#me {
  margin-top: 5px;
  width: 480px;
  border-radius: 2%;
}

#text-box {
  color: #00539c;
  display: none;
  font-size: 18px;
}

#about-me {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.25rem;
}

#about-me-text {
}

.divider {
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 480px;
  list-style-type: none;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

a {
  color: #00539c;
  text-decoration: none;
  font-size: 18px;
}

button {
  font-family: inherit;
  font-size: 18px;
  background: none;
  border: none;
  color: #00539c;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.2s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

footer {
  position: fixed;
  right: 0%;
  bottom: 0%;
  font-size: 13px;
  color: #c5832b;
  padding-right: 10px;
  padding-bottom: 5px;
}

@media screen and (max-height: 550px) {
  footer {
    display: none;
  }
}

@media screen and (max-width: 480px), screen and (max-height: 480px) {
  #me {
    width: 440px;
  }

  .links,
  #text-box {
    width: 440px;
  }

  footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 440px), screen and (max-height: 440px) {
  #me {
    width: 400px;
  }

  .links,
  #text-box {
    width: 400px;
  }

  footer {
    font-size: 11px;
  }
}

@media screen and (max-width: 400px), screen and (max-height: 400px) {
  #me {
    width: 360px;
  }

  .links,
  #text-box {
    width: 360px;
  }

  footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 360px), screen and (max-height: 360px) {
  #me {
    width: 320px;
  }

  .links,
  #text-box {
    width: 320px;
  }

  footer {
    font-size: 9px;
  }
}

@media screen and (max-width: 320px), screen and (max-height: 295px) {
  .container {
    min-width: 320px;
  }

  footer {
    display: none;
  }
}
