html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: #0d1321;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
}

.stars {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: #fff;
    opacity: 0;
    animation: twinkle 10s infinite;
}

@keyframes twinkle {
    0% {
        opacity: 0.2;
        /* start at a dim opacity */
        transform: translateY(0);
    }

    10% {
        opacity: 1;
        /* become brighter */
        transform: translateY(0);
    }

    20% {
        opacity: 0.2;
        /* become dimmer again */
        transform: translateY(0);
    }

    100% {
        opacity: 0.2;
        /* maintain dim opacity */
        transform: translateY(0);
    }
}

#me {
    width: 480px;
    border-radius: 2%;
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 480px;
    list-style-type: none;
    padding: 0;
}

#textBox {
    color: #eff1f3;
    ;
}

p {
    hyphens: auto;
}

a {
    color: #c5832b;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: inherit;
    background: none;
    padding: 0;
    border: none;
    color: #c5832b;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.2s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

footer {
    position: absolute;
    right: 0%;
    bottom: 0%;
    font-size: 13px;
    color: #c5832b;
    padding-right: 10px;
    padding-bottom: 5px;
}

@media screen and (max-width: 480px),
screen and (max-height: 480px) {
    #me {
        width: 440px;
    }

    .links,
    #textBox {
        width: 440px;
        font-size: 15px;
    }

    footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 440px),
screen and (max-height: 440px) {
    #me {
        width: 400px;
    }

    .links,
    #textBox {
        width: 400px;
        font-size: 14px;
    }

    footer {
        font-size: 11px;
    }
}

@media screen and (max-width: 400px),
screen and (max-height: 400px) {
    #me {
        width: 360px;
    }

    .links,
    #textBox {
        width: 360px;
        font-size: 13px;
    }

    footer {
        font-size: 10px;
    }
}

@media screen and (max-width: 360px),
screen and (max-height: 360px) {
    #me {
        width: 320px;
    }

    .links,
    #textBox {
        width: 320px;
        font-size: 12px;
    }

    footer {
        font-size: 9px;
    }
}

@media screen and (max-width: 320px),
screen and (max-height: 295px) {

    .links,
    #textBox,
    footer {
        display: none;
    }
}

